@inject NavigationManager navigationManager
<div class="container">
    <h3>Login</h3>
    <div>
  

        <br />
        @if (_loginViewModel != null)
        {
            <EditForm Model="_loginViewModel" OnValidSubmit="HandleValidSubmit" class="form-line">
                <DataAnnotationsValidator></DataAnnotationsValidator>
                <ValidationSummary>

                </ValidationSummary>
                <div class="form-group">
                    <label for="name">User Name</label>
                    <InputText id="name" @bind-Value="_loginViewModel.UserName" class="form-control"></InputText>
                </div>
                <div class="form-group">
                    <label for="name">Password</label>
                    <InputText id="password" @bind-Value="_loginViewModel.Password" style="password" class="form-control"></InputText>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </EditForm>
        }
    </div>
    </div>


@code {
    private LoginViewModel _loginViewModel;
    protected override void OnInitialized()
    {
        base.OnInitialized();
        _loginViewModel = new LoginViewModel();
    }
    private void HandleValidSubmit()
    {
        navigationManager.NavigateTo($"/authenticate?user={_loginViewModel.UserName}&&password={_loginViewModel.Password}", true);
    }

}
