<div class="mb-3 row justify-content-end">
   
        <div class="col-auto">
        <input placeholder="Tìm kiếm sản phẩm" type="text" class="form-control" id="filter" @bind-value="filter" />
        </div>
        <div class="col-auto">
        <button @onclick="HandleSearch" type="button" class="btn btn-primary mb-2">Tìm kiếm</button>
           
        </div>
    </div>


@code {
    private string filter;
    [Parameter]
    public EventCallback<string> OnSearch{ get; set; }
    private void HandleSearch()
    {
        OnSearch.InvokeAsync(filter);
    }
}
