@import '_content/eShop.Web.Common/eShop.Web.Common.bundle.scp.css';

/* _content/eShop.Web.CustomerPortal/Component1.razor.rz.scp.css */
.my-component[b-iak55tfv40] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
