@import '_content/VanThang251_Sales.Web.Common/VanThang251_Sales.Web.Common.bundle.scp.css';

/* _content/VanThang251_Sales.Web.CustomerPortal/Component1.razor.rz.scp.css */
.my-component[b-2oj2ki7yzx] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
