@import '_content/WebBanHang_QuocHuy.Web.Common/WebBanHang_QuocHuy.Web.Common.bundle.scp.css';

/* _content/WebBanHang_QuocHuy.Web.CustomerPortal/Component1.razor.rz.scp.css */
.my-component[b-m1rejl07sn] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
