
@implements IDisposable
@inject IShoppingCartStateStore shoppingCartStateStore
<div>
    Giỏ hàng:&nbsp; @lineItemCount
</div>

@code {
    private int lineItemCount = 0;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            shoppingCartStateStore.AddStateChangeListeners(HandleShoppingCartStateChange);
            lineItemCount = await shoppingCartStateStore.GetItemsCount();
            StateHasChanged();
        }
    }

    private async void HandleShoppingCartStateChange()
    {
        lineItemCount = await shoppingCartStateStore.GetItemsCount();
        StateHasChanged();
    }

    public void Dispose()
    {
        shoppingCartStateStore.RemoveSateChangeListeners(HandleShoppingCartStateChange);
    }
}
