
@using Microsoft.AspNetCore.Components.Forms
@using VanThang251_Sales.Web.CustomerPortal.ViewModels

@if(customer!=null)
{
    <EditForm Model="customer" class="form-line" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator>

        </DataAnnotationsValidator>
        <ValidationSummary>

        </ValidationSummary>
        <div class="form-group">
            <label for="name">Name</label>
            <InputText id="name" @bind-Value="customer.CustomerName" class="form-control"></InputText>
        </div>
          <div class="form-group">
            <label for="address">Address</label>
            <InputText id="name" @bind-Value="customer.CustomerAddress" class="form-control"></InputText>
        </div>
          <div class="form-group">
            <label for="city">City</label>
            <InputText id="name" @bind-Value="customer.CustomerCity" class="form-control"></InputText>
        </div>
          <div class="form-group">
            <label for="province">Provice</label>
            <InputText id="name" @bind-Value="customer.CustomerStateProvince" class="form-control"></InputText>
        </div>
               <div class="form-group">
            <label for="country">Country</label>
            <InputText id="name" @bind-Value="customer.CustomerCountry" class="form-control"></InputText>
        </div>
        <button type="submit" class="btn btn-primary">Place Order </button>
    </EditForm>
}

@code {
    private CustomerViewModel customer;
    [Parameter]
    public EventCallback<CustomerViewModel> OnCustomerInforSubmited{ get; set; }
    protected override void OnInitialized()
    {
        base.OnInitialized();
        customer = new CustomerViewModel();
    }
    private void HandleValidSubmit()
    {
        OnCustomerInforSubmited.InvokeAsync(customer);   
    }
}
