<!-- footer section start -->
<div class="footer_section layout_padding" style="background-color: LightGray;">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <h3 class="footer_text" style="color: #333;">Liên kết</h3>
                <div class="footer_menu">
                    <ul>
                        <li class="active"><a href="#" style="color: #333;">Trang Chủ</a></li>
                        <li><a href="#" style="color: #333;">Giới Ghiệu</a></li>
                        <li><a href="#" style="color: #333;">Sản Phẩm</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <h3 class="footer_text" style="color: #333;">Địa chỉ</h3>
                <div class="location_text">
                    <ul>
                        <li>
                            <a href="#" style="color: #333;">
                                <span class="padding_left_10"><i class="fa fa-map-marker" aria-hidden="true"></i></span>99 Hồ Đắc Di
                            </a>
                        </li>
                        <li>
                            <a href="#" style="color: #333;">
                                <span class="padding_left_10"><i class="fa fa-phone" aria-hidden="true"></i></span>(+84) 686 666 777 <br>(+84) 686 333 999
                            </a>
                        </li>
                        <li>
                            <a href="#" style="color: #333;">
                                <span class="padding_left_10"><i class="fa fa-envelope" aria-hidden="true"></i></span>vanthangb9@gmail.com
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="footer_main">
                    <h3 class="footer_text" style="color: #333;">Mạng xã hội</h3>
                    <div class="social_icon">
                        <ul>
                            <li><a href="#" style="color: #333;"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#" style="color: #333;"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#" style="color: #333;"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- footer section end -->
