/* _content/VanThang251_Sales.Web.AdminPortal/Component1.razor.rz.scp.css */
.my-component[b-wepjjhajca] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
